{% extends 'tasklist/master.html' %} {% load static %} {%block content %}
<div class="form-container">
  <form method="post">
    {% csrf_token %}
    <div><label for="">{{form.username.label}}:</label> {{form.username}}</div>
    <div><label for="">{{form.password1.label}}:</label> {{form.password1}}</div>
    <div><label for="">confirm:</label> {{form.password2}}</div>
    <input class="btn" type="submit" value="submit" />
  </form>
  <p>Already have an account?<a href="{% url 'login' %}">login</a></p>
</div>

{% endblock %}
