{% extends 'tasklist/master.html' %} {% load static %} {%block content %}
<div class="header-bar">
  <div>
    <h1 style="padding: 0px; margin: 0px">hello,{{request.user|title}}</h1>
    <h3 style="margin: 0">
      You have <i>{{count}}</i> task{{ count|pluralize:"s" }} pending
      <!--display pending tasks-->
    </h3>
  </div>
  <div>
    {% if request.user.is_authenticated %}
    <!--view only if user logined-->
    <a href="{% url 'logout' %}"><button class="btn-logout">logout</button></a>
    {% else %}
    <a href="{% url 'login' %}">login</a>
    {% endif %}
  </div>
</div>

<h1 align="center">Manage your tasks</h1>

<!-- search tasks by dates  -->
<section class="search-container">
  <div class="input-container">
    <form method="get">
      <input
        type="date"
        name="search-date"
        class="input-field"
        value="{{search_input}}"
      />
      <button type="submit" class="search-button" style="cursor: pointer">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</section>

<!-- tasks display section -->
<div class="grid-container">
  {% for task in tasks %}
  <div class="task-wrapper">
    <div class="delete-task">
      <a href="{% url 'task-delete' task.id %}"
        ><i class="fa fa-times-circle" style="font-size: 24px"></i
      ></a>
    </div>
    <div><b>{{forloop.counter}}.{{task.title|upper}}</b></div>
    <div class="description-wrapper"><p>{{task.description}}</p></div>
    <div><p>{{task.due}}</p></div>
    <div class="edit-task">
      <a style="margin-top: 20px" href="{% url 'task-update' task.id %}"
        ><i class="fa fa-edit" style="font-size: 36px"></i
      ></a>
      <p class="color_{{ task.status }}">
        <i class="fa fa-check" style="font-size: 24px"></i>
      </p>
    </div>
  </div>

  {% empty %}
  <p>no items in list</p>
  {% endfor %}
  <a
    class="task-wrapper"
    href="{% url 'task-create' %}"
    style="text-decoration: none"
    ><div style="display: flex; justify-content: center; margin-top: 80px">
      <i class="fa fa-plus" style="font-size: 44px"></i></div
  ></a>

  {% endblock %}
</div>
